// Tipografía

// Variables

$colorPrincipal: rgb(219, 191, 164);
$colorSecundario: rgb(236, 232, 173);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// Header

.divHeaderContainer{
    width: 1400px;
    height: 250px;
    background-color: $colorPrincipal;
}

.divHeaderPrin{
    padding-left: 130px;
    padding-top: 55px;
    
    h1{
        font-size: 60px;
    
    }
}

.divHeaderSec{
    display: flex;
    justify-content: space-evenly;
    padding-left: 30px;

    h2{
        font-size: 27px;
    }

    h3{
        font-size: 24px;
        border: 2px solid black;
        padding: 10px;
        border-radius: 10%;
    }
}

/* NavBar */ 

.divNavBar{
    width: 1400px;
}

.ulNavBar{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 80px;
    background-color: $colorSecundario;
    padding: 0;
    margin: 0;

    a{
        text-decoration: none;
        color: black;

        .liNavBar{
            list-style: none;
            font-size: 22px;
        }
    }
}

/* Index */ 

.divIndexContainer{
    width: 1400px;
    height: 1100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $colorPrincipal;
}

/* AcercaDe */

.divAcercaDeContainer{
    text-align: center;

    h2{
        text-align: left;
        padding-top: 100px;
        padding-left: 100px;
        padding-bottom: 40px;
    }

    p{
        padding-left: 150px;
        padding-right: 150px;
    }
}

/* Carousel */ 

#carouselExampleControls{
    width: 900px;
    height: 520px;
}

#divCarousel{
    width: 900px;
    height: 520px;
}

.carousel-item{
    width: 900px;
    height: 520px;
}

#imgCarousel{
    width: 900px;
    height: 520px;
}

/* Footer */

.divFooterContainer{
    text-align: center;
    background-color: $colorSecundario;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 1400px;
    height: 250px;
    margin: 0;

    .ulContacto{
        display: flex;
        flex-direction: column;
        align-items:flex-start;
        margin: 0;
        padding: 0;
    }

    .ulRedes{
        display: flex;
        justify-content: center;
        align-items: center;
        list-style: none;

        .liRedes{
            padding: 10px;
        }
    }
}

.divCopyright{
    width: 1400px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgb(85, 83, 55);
    height: 50px;

    h4{
        margin: 0;
        color: white;
        font-size: 16px;
    }
}

